@font-face {
    font-family: roboto;
    src: url("Roboto-Regular.ttf");
}
*{
    margin:0;
    box-sizing: border-box;
  
}
main{
    font-family: roboto;
    
}
header{
    background-color:#779882;
    height: 2.5em;
}



p{
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 1rem;
}

#billede{
    background-color: #779882;
    color: white;
    text-align: center;
    .picture{
        max-height: 20rem;
        width: 100vw;
    }
    h1{
        font-size: 1.5rem;
        margin-top:0.5rem;
        margin-bottom: 0.2rem;
    }
    h3{
        font-size: 1.1rem;
        font-weight: 100;
        padding-bottom: 0.5rem;

    }
}


#faellesskab{
    background-color:#F3F4EF ;
    h2{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

}

#sammen{
    background-color: white;
    margin-top:2rem;
    padding:0 4rem;
    width: 100%;
    text-align: left;
    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
}

.button{
    background-color: #779882;
    color: white;
   
}


footer{
    background-color: #425348;
    height:2.5rem;
}