@font-face {
    font-family: roboto;
    src: url("Roboto-Regular.ttf");
}
*{
    margin:0;
    box-sizing: border-box;
  
}
main{
    font-family: roboto;
    
}
header{
    background-color: ;
}

#billede{
    background-color: #779882;
    color: white;
    text-align: center;
}




#faellesskab{
    background-color:#F3F4EF ;

}

#sammen{
    background-color: white;
    max-width: 80vw;
    max-width: 80vw;
    margin-top:2rem;
    text-align: left;

    h2{
        text-align: center;
    }
}

.button{
    background-color: #779882;
    color: white;
   
}


footer{
    background-color: #425348;
    height:2.5rem;
}